/*
We highly recommend you use SASS and write your custom styles in sass/_custom.scss.
However, this blank file is available if you prefer
*/

.main_header{
	background-image: url(../img/main.jpg);
	padding-top: 0px;
  padding-bottom: 218px;
   background-position: 50% 50%;
  background-size: cover;
  background-attachment: fixed;
  height: 500px;
}

.navbar_row{
	position:relative;float:left;width:100%;min-height:1px;padding-left:10px;padding-right:10px
}

.links_s{
	width: 75%;
}

.navbar_75{
	text-align: right;
	padding-top:35px; 
	padding-right:30px;
	padding-bottom: 27px;
}

.logo_s{
	width: 25%;
	padding-left: 40px;
	padding-top: 20px;
}

.nav-links{
	  padding-right: 14px;
  padding-left: 14px;
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
  color: white;
  font-weight: 700;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: rgba(0, 0, 0, 0.24) 0px 1px 0px;

}

.nav-links:hover {
  color: #222;
  text-shadow: none;
}

.footerbg{
	width: auto;
	height:70px;
	background: #E7EFEF;
}
